# виртуальное окружение
.env
venv/
.env

uv.lock
# базы данных
bot.db
backupas/server_old.db

# .py files 
test.py
tools/count_loc.py
# pycache
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/
# IDE / macOS
.DS_Store
.idea/
.vscode/
